In [2]:
a = input ('Digite algo: ')
print ('O tipo primitivo desse valor é: ', type(a))
print ('Só tem espaços? ', a.isspace())
print ("É um numero? ", a.isnumeric())
print ("É um alfabetico? ", a.isalpha())
print ("É um alfanumerico? ", a.isalnum())
print ("Está em maiuscula? ", a.isupper())
print ("Está em minuscula? ", a.islower())
print ("Está em capitalizada? ", a.istitle())

Digite algo: Python
O tipo primitivo desse valor é:  <class 'str'>
Só tem espaços?  False
É um numero?  False
É um alfabetico?  True
É um alfanumerico?  True
Está em maiuscula?  False
Está em minuscula?  False
Está em capitalizada?  True

In [3]:
5+3*2

11

In [4]:
5**2

25

In [5]:
19//2

9

In [6]:
19/2

9.5

In [7]:
356**522

719281585292469709351383367279589878611933789157564147000433300789151797908651760501835214758833382669689387515084336861855291222062035733360219361780562343052904496631867391172075359666148473715836612432369966297049776285450533232716953213128693348015055150920937833122601177580906672990311973238822158165566026505996274570032632917312840305917107242921520788930477298767008485514606804498976042940710184332710282636870988989843035945390069345100797221217595808526171255338592850427477458544403629720055368449475604119077674547525218642663130145626055281631685895660706396241150113249494302927745275435148055764847810137371265208317619079860086956366215364887162089100265578249230640138242741817434791096056129380451608563592013739243477896600011604269064881287562415979998177949947706220430543241298454113770754394399748557256043180536301988874807792024809498900250912360083369268825328445596687559689857916406192310516753651751877330009039252101113701375844011495798372188160769981303119083501640017241816417304200555171498574395447202467647068961978355523059550474137809227450338259583694659400922889407910708963752235397080444292836435287837914294540521581102544614326491666786340172787587371174001483773725740788123183219198765388455987265426046482492808590246511441816729353694445845650756404853772321057616156367548198158336

In [8]:
18%2

0

In [9]:
pow(4,3)

64

In [10]:
4**3

64

In [11]:
9**(1/2)

3.0

In [10]:
n1 = int (input('Um valor: '))
n2 = int(input('Outro valor: '))
s=n1+n2
sub=n1-n2
mult=n1*n2
div=n1/n2
di=n1//n2
e=n1**n2
print ('A soma é {}, \n a subtração é {}, a multiplicação é {}  e a divisão é {:.3f}'. format(s,sub,mult,div), end=' ')
print ('a divisão inteira é {} e a potencia é {}'.format(di,e))

Um valor: 3
Outro valor: 4
A soma é 7,
 a subtração é -1, a multiplicação é 12  e a divisão é 0.750 a divisão inteira é 0 e a potencia é 81

In [2]:
n = int (input ('Digite um valor: '))
print ('O seu sucessor é {} e o seu antecessor é {}'.format((n+1),(n-1)))

Digite um valor: 1
O seu sucessor é 2 e o seu antecessor é 0

In [4]:
n = int (input ('Digite um número: '))
print ('O dobro é {}, o triplo é {} e a raiz quadrada é {}'.format((n*2), (n*3), (n**(1/2))))

Digite um número: 9
O dobro é 18, o triplo é 27 e a raiz quadrada é 3.0

In [1]:
n1 = float(input('Primeira nota do aluno: '))
n2 = float(input('Segunda nota do aluno: '))
m= (n1+n2)/2
print('A média entre {} e {} é igual a {}'. format(n1,n2,m))

Primeira nota do aluno: 6
Segunda nota do aluno: 7
A média entre 6.0 e 7.0 é igual a 6.5

TAUBUADAAAAA

In [6]:
n = int (input('Digite um número para ver sua tabuada 4'))
print('{} x {:2} = {}'.format(n, 1, n*1))
print('{} x {:2} = {}'.format(n, 2, n*2))
print('{} x {:2} = {}'.format(n, 3, n*3))
print('{} x {:2} = {}'.format(n, 4, n*4))
print('{} x {:2} = {}'.format(n, 5, n*5))
print('{} x {:2} = {}'.format(n, 6, n*6))
print('{} x {:2} = {}'.format(n, 7, n*7))
print('{} x {:2} = {}'.format(n, 8, n*8))
print('{} x {:2} = {}'.format(n, 9, n*9))
print('{} x {:2} = {}'.format(n, 10, n*10))

Digite um número para ver sua tabuada9
9 x  1 = 9
9 x  2 = 18
9 x  3 = 27
9 x  4 = 36
9 x  5 = 45
9 x  6 = 54
9 x  7 = 63
9 x  8 = 72
9 x  9 = 81
9 x 10 = 90

Faça um algoritmo que leia o preço de um produto e mostre seu novo preço, com 5% de desconto

In [1]:
preço = float(input ('Qual o preço do produto? R$'))
novo = preço-(preço*5/100)
print ('O preço com desconto é {}'.format(novo))

Qual o preço do produto? R$100
O preço com desconto é 95.0